html, body{
    height: 100%;
}

*{
    margin: 0;
}

.main-blog{
    margin: 5%;
}
.main-blog .top-title-btn{
    display: flex;
}
.main-blog .top-title-btn button{
    margin-left: auto;
    margin-right: 10%;
}

.container-blogs{
    margin-top: 2%;
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
}
