body,
html {
    height: 100%;
}

/*
.right-banner {
    display: block;
    background-color: rgb(250, 250, 251);
    padding: 3%;
    width: 20%;

    position: fixed;
    top: 0px;
    left: 0%;
    bottom: 0px;
    z-index: 1;
}
.right-banner .div-links {
    margin-top: 10%;
    display: grid;
}

.right-banner .div-links a{
    font-size: 17pt;
    margin-top: 5%;
    text-decoration: none;
    color: black;
}*/

.all {
    display: flex;
    justify-content: center;
    width: 100%;
    /*height: 100%;*/
}

.right-banner {
    display: block;
    background-color: rgb(250, 250, 251);
    padding: 3%;
    width: 20%;

    position: fixed;
    top: 0px;
    left: 0%;
    bottom: 0px;
    z-index: 1;
}

.navbar{
    width: 80%;
    margin-left: auto;
    margin-right: 0px;
    box-shadow: none;
}

.right-banner .div-links {
    margin-top: 50px;
    display: grid;
}

.right-banner .div-links a {
    font-size: 17pt;
    margin-top: 5%;
    text-decoration: none;
    color: black;
}

.left-part {
    width: 80%;
    margin-left: auto;
}

.left-part .cont-div {
    margin: 5%;
    height: 100%;
}

.data_profile {
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
}

.data_profile .div-form-data {
    width: 50%;
    padding: 3%;
    background-color: #f2f3f5;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 3%;
    margin-right: 5%;
}

/* .data_profile .div-form .col{
    padding: 0;
} */

.data_profile .div-form-data .input {
    padding: 2%;
    border-radius: 10px;
    margin-top: 2%;
    border: 1px solid black;
}

.data_profile .div-form-up{
    height: 10%;
    padding: 3%;
    background-color: #f2f3f5;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 3%;
}

.attesa .cards-blogs{
    margin-top: 2%;
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
}