body,
html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;

}

.all {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.right-banner {
    display: block;
    background-color: rgb(250, 250, 251);
    padding: 3%;
    width: 20%;

    position: fixed;
    top: 0px;
    left: 0%;
    bottom: 0px;
    z-index: 1;
}

.right-banner div {
    margin-top: 50px;
}

.right-banner div .link-ban {
    font-size: larger;
    margin-top: 2%;
    text-decoration: none;
    color: black;
}

.main {
    width: 80%;
    margin-left: auto;
}

.main .dati_profilo {
    height: 100%;
    padding: 5%;
}

.main .dati_profilo .privilegi {
    padding: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
}

.main .dati_profilo .dati {
    height: 20%;
    padding: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30%;
    margin-top: 2%;
}

.main .tabl-utenti{
    height: 100%;
    padding: 5%;

}
.main .table-blogs{
    height: 100%;
    padding: 5%;

}

.box-modify-camp {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    background-color: #e8edea;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.box-modify-camp .top {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}
.box-modify-camp .top svg {
    margin-left: auto;
}
.box-modify-camp #title {
    font-size: larger;
    font-weight: bold;
}
.box-modify-camp form div {
    display: grid;
    margin-top: 2%;
    
}
.box-modify-camp form div label{
    margin-top: 2%;
}
.box-modify-camp form input[type=submit] {
    float: right;
    margin-top: 3%;
}

.modal{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* 
.main .dati_profilo .privilegi .switch {
    font-size: medium;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 35px;
}

.main .dati_profilo .privilegi .switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

.main .dati_profilo .privilegi .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.main .dati_profilo .privilegi .slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
}

.main .dati_profilo .privilegi input:checked+.slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
}

.main .dati_profilo .privilegi input:checked+.slider:before {
    transform: translateX(1.5em);
} */

/* .right { grid-area: banner; }
.main { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
/* .right-banner{
    display: table-caption;
    margin-left:0;
    justify-content: center;
    height: 100%;
    width: 20%;
    padding: 10%;
    background-color: aliceblue;
} */